<!DOCTYPE html>
<html>
<head>
  <title>AP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <script type="text/javascript">
    $(".owl-carousel").owlCarousel();
    </script>
</head>
<body>

  <div class="navbar">
    <ul>
      <li><a href="">Chef Wear</a></li>
      <li><a href="">Medical Wear</a></li>
      <li><a href="">Work Wear</a></li>
    </ul>
  </div>

  <% if current_order %>
  <p style="border:1px solid black;padding:10px; text-align: right;">
    You have <%= pluralize current_order.total_items, 'item'%> in your basket which cost
    <%= number_to_currency current_order.total_before_tax %>.
    <%= link_to "View basket", basket_path %>
    <%= link_to "Checkout", checkout_path %>
    <%= flash[:notice] %>
  </p>
  <% end %>

  <div class="container-fluid">
    <!-- Empty Left Column -->
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8 col-md-12 col-xs-12-col-sm-12 yield">
  	<%= yield %>
    </div>

    <!-- Empty Right Column -->
    <div class="col-lg-2">
    </div>
  </div>

</body>
</html>
